@import "assets/css/variable";

#courses {
  background-color: $color-white;
  color: $color-black;

  #courses-content {
    max-width: $columns-3xl;
    width: 90%;

    margin: auto;
    padding: 1rem 0;

    .courses {
      .course {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 3rem 0;

        img {
          width: 50px;
        }

        h3 {
          margin-left: 3rem;
        }
      }
    }
  }
}
