@import "assets/css/variable";

#skills {
  max-width: $columns-3xl;
  width: 90%;
  margin: auto;

  .skills-container {
    .skills {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
      flex-wrap: wrap;
      gap: 1rem;

      @media screen and (min-device-width: $columns-2xl) {
        justify-content: space-between;
      }

      &:nth-child(2) {
        @media screen and (min-device-width: $columns-2xl) {
          justify-content: space-evenly;
        }
      }

      .skill {
        box-sizing: border-box;
        position: relative;
        height: 45px;
        width: 50px;

        @media screen and (min-device-width: $columns-sm) {
          height: 90px;
          width: 100px;
        }

        @media screen and (min-device-width: $columns-md) {
          height: 115px;
          width: 135px;
        }

        @media screen and (min-device-width: $columns-1xl) {
          height: 160px;
          width: 170px;
        }

        @media screen and (min-device-width: $columns-1xl) {
          margin: 1rem 0;
        }

        .hexagon {
          width: 50px;
          display: inline-block;
          color: $color-white;
          filter: url('#hexagon') $drop-shadow-2xl;
          position: absolute;

          @media screen and (min-device-width: $columns-sm) {
            width: 100px;
          }

          @media screen and (min-device-width: $columns-md) {
            width: 135px;
          }

          @media screen and (min-device-width: $columns-1xl) {
            width: 170px;
          }

          &:before {
            content: "";
            display: block;
            background: currentColor;
            padding-top: 86.6%;
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          }
        }

        img {
          z-index: 1;
          width: 25px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          @media screen and (min-device-width: $columns-sm) {
            width: 50px;
          }

          @media screen and (min-device-width: $columns-md) {
            width: 65px;
          }

          @media screen and (min-device-width: $columns-1xl) {
            width: 80px;
          }
        }
      }
    }
  }
}
