@import "variable";

.btn {
  width: fit-content;

  background-color: $color-primary;
  color: $color-white;
  text-decoration: none;

  border-radius: .6rem;

  padding: .8rem 2rem;

  box-shadow: $shadow-md;
}
