@import './variable.scss';

main {
    max-width: $columns-6xl;

    margin: 10rem auto;
    color: $color-white;

    h1 {
        text-transform: uppercase;
    }

    #summary {
        display: flex;
        justify-content: space-around;
        gap: 4rem;

        #summary-text {
            position: relative;

            #social-media {
                position: absolute;

                bottom: 1rem;
                right: 1rem;

                display: flex;
                gap: 1rem;

                img {
                    width: 4rem;
                }
            }
        }
    }
}
