@import 'variable';
@import 'margin';
@import 'display';

* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  line-height: 1.4rem;
  box-sizing: border-box;
}

html {
  background-color: $color-secondary;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: underline;
  color: $color-red;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main {
  color: $color-white;
  min-width: 254px;

  h1 {
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 4rem;

    @media screen and (min-width: $columns-sm) {
      font-size: 2.8rem;
    }

    @media screen and (min-width: $columns-1xl) {
      font-size: 3.6rem;
    }
  }

  h2 {
    font-size: 1.2rem;
    line-height: 3rem;

    @media screen and (min-width: $columns-sm) {
      font-size: 1.6rem;
    }

    @media screen and (min-width: $columns-1xl) {
      font-size: 2rem;
    }
  }

  h3 {
    font-size: .8rem;

    @media screen and (min-width: $columns-sm) {
      font-size: 1rem;
    }

    @media screen and (min-width: $columns-1xl) {
      font-size: 1.2rem;
    }
  }

  p {
    font-size: .7rem;

    @media screen and (min-width: $columns-sm) {
      font-size: .8rem;
    }

    @media screen and (min-width: $columns-1xl) {
      font-size: 1rem;
    }
  }

  li {
    margin-top: .8rem;

    &:first-child {
      margin-top: 0;
    }
  }

  @import 'home/summary';
  @import 'home/projects';
  @import 'home/courses';
  @import 'home/skills';
  @import 'home/contact';
  @import 'home/footer';
}

@import 'header';
@import 'hamburger-menu';
@import 'button';
