@import 'variable';

* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  line-height: 1.4rem;
  box-sizing: border-box;
}

html {
  background-color: $color-secondary;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-black;
}

main {
  color: $color-white;

  h1 {
    text-transform: uppercase;
  }

  @import 'home/summary';
  @import 'home/projects';
}

@import 'header';
@import 'button';
