/* COULEUR */
$color-white: white;
$color-black: #3f3f3f;
$color-grey: #c3c3c3;
$color-red: #9B2321;
$color-blue: #253C78;

$color-primary: $color-red;
$color-secondary: $color-blue;


/* SIZE */
$columns-3xs: 16rem; /* 256px */
$columns-2xs: 18rem; /* 288px */
$columns-xs: 20rem; /* 320px */
$columns-sm: 24rem; /* 384px */
$columns-md: 28rem; /* 448px */
$columns-lg: 32rem; /* 512px */
$columns-xl: 36rem; /* 576px */
$columns-2xl: 42rem; /* 672px */
$columns-3xl: 48rem; /* 768px */
$columns-4xl: 56rem; /* 896px */
$columns-5xl: 64rem; /* 1024px */
$columns-6xl: 72rem; /* 1152px */
$columns-7xl: 80rem; /* 1280px */
